.contact {
  /*    */
  background-image: url(../images/Contact.png);
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.contact-content {
  gap: 2rem;
  text-align: center;
}

.contact-text p {
  color: var(--contrast-color);
}

@media (max-width: 480px) {
  .contact {
    height: 50vh;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .contact {
    height: 50vh;
  }
}

@media (min-width: 1281px) {
}
