.contact {
  /*    */
  background-image: url(../images/Contact.png);
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.contact-content {
  padding: 3rem 6rem;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 12rem 0rem;
  text-align: center;
}

.contact-text p {
  color: var(--contrast-color);
}

.contact-text .contact-btn {
  border: none;
}

@media (max-width: 480px) {
  .contact-content {
    padding: 3rem;
  }

  .contact-text {
    padding: 2rem 0rem;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .contact {
    height: 50vh;
  }

  .contact-content {
    padding: 3rem 10rem;
  }

  .contact-text {
    padding: 2rem 2rem 0rem;
  }
}

@media (min-width: 1281px) {
}
