.footer-content {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap-md);
}

.footer-so-me-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--grid-gap-md);
}

.footer-so-me img {
  width: 100%;
}

.footer hr {
  margin: 0.5rem 0;
  border-top: var(--border-text-border-left);
  opacity: 1;
}

.footer-title-wrapper {
  display: none;
}

.footer-links {
  width: 100%;
}

.footer-nav .nav {
  justify-content: space-evenly;
  padding: 0;
}

.footer-nav .nav-link {
  color: var(--secondary-color);
  font-size: 0.75rem;
  font-weight: var(--medium-font-weight);

  text-align: center;
  letter-spacing: 0.075rem;
  padding: 0;
}

@media (max-width: 540px) {
  .footer-content {
    gap: var(--grid-gap-sm);
  }

  .footer-so-me-gallery {
    grid-template-columns: repeat(2, 2fr);
    gap: var(--grid-gap-sm);
  }

  .so-me-last-image {
    display: none;
  }

  .footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0.5rem;
  }

  .footer-nav .nav {
    height: auto;
    grid-template-columns: repeat(2, 4fr);
    display: grid;
  }

  .footer-title-wrapper {
    display: block;
  }

  .footer-nav .contact-btn {
    font-size: 0.55rem;
    width: 5rem;
    height: 5rem;
  }

  .footer-title h2 {
    color: var(--primary-color);
  }

  .footer-links {
    width: 60%;
  }

  .footer-nav .nav-link {
    padding: 0.5rem 0;
  }
  .footer-nav .left-nav-text-mobile {
    justify-content: flex-start;
  }

  .footer-nav .right-nav-text-mobile {
    justify-content: flex-end;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
}
