/* Header.css */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease;
}

.change-background {
  background-color: var(--primary-color);
}

.change-background h2 {
  color: var(--contrast-color);
}

.hidden {
  display: none;
}

.title-edit {
  color: var(--primary-color);
  margin-left: 0.5rem;
}

/* nav */

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.5rem 2rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar {
  width: 100%;
  padding: 0;
}

.navbar-brand {
  font-family: var(--heading-font-family);
  color: var(--contrast-color);
  margin: 0;
}

.nav-link {
  font-family: var(--subheading-font-family);
  font-size: 0.9rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--contrast-color);
  letter-spacing: 0.075rem;
}

/*  */

.nav-link:hover {
  color: var(--contrast-color);
  text-decoration: underline;
  text-underline-offset: 10px;
}

.navbar-nav .nav-link.active {
  color: var(--contrast-color);
  opacity: 50%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 0 0 1.5rem;
}

.navbar-toggler {
  border: 0;
  padding: 0;
}

.navbar-toggler-icon {
  background-image: url("../images/Hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
}

.navbar-toggler:focus {
  box-shadow: none;
  opacity: 0.5;
}

/* logo */

.logo {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 1.5px solid var(--contrast-color);
  color: var(--contrast-color);
  text-align: center;
}

.logo:hover {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 1.5px solid var(--contrast-color);
  color: var(--primary-color);
  background-color: var(--contrast-color);
  text-align: center;
}

.header-title-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  overflow: visible;
  padding: 0;
}

.header-title a {
  text-decoration: none;
}

@media (max-width: 480px) {
  .nav {
    justify-content: start;
    height: 6rem;
  }

  .navbar {
    justify-content: flex-end;
  }

  .logo {
    display: none;
  }

  .nav-link {
    font-size: 1.25rem;
    font-weight: lighter;
    padding: 1.5rem 0;
  }

  .header-title-wrapper {
    position: absolute;
    left: 0%;
    transform: translateX(-0%);
  }

  .header-title {
    color: var(--contrast-color);
  }
}

@media (min-width: 480px) and (max-width: 990px) {
  .nav-link {
    font-size: 1.45rem;
    font-weight: lighter;
    padding: 1.5rem 0;
  }
}

@media (min-width: 1281px) {
}
