/*    */

.navbar-brand {
  font-family: var(--heading-font-family);
  color: var(--contrast-color);
}

.nav-link {
  font-family: var(--subheading-font-family);
  font-weight: lighter;
  color: var(--contrast-color);
}

.spectra {
  color: var(--primary-color);
}

.offcanvas-body {
  justify-content: end;
}
