/* header */

header {
  padding: 1.5rem 2rem;
}

/* header title */

.header-title {
  position: absolute;
}

.title-edit {
  color: var(--primary-color);
  margin-left: 0.5rem;
}

/* nav */

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  padding: 0;
}

.navbar-brand {
  font-family: var(--heading-font-family);
  color: var(--contrast-color);
}

.nav-link {
  font-family: var(--subheading-font-family);
  font-weight: lighter;
  color: var(--contrast-color);
  text-align: center;
  letter-spacing: 0.075rem;
}

.nav-link:hover {
  color: var(--contrast-color);
  text-decoration: underline;
  text-underline-offset: 10px;
}

.navbar-toggler {
  border: 0;
  padding: 0;
}

.navbar-toggler-icon {
  background-image: url("../images/Hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
}

.navbar-toggler:focus {
  box-shadow: none;
  opacity: 0.5;
}

/* logo */

.logo {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 1.5px solid #fff;
  color: var(--contrast-color);
  text-align: center;
}

@media (max-width: 480px) {
  .nav {
    justify-content: start;
  }

  .navbar {
    justify-content: flex-end;
  }

  .navbar-brand {
    display: none;
  }

  .header-title {
    color: var(--contrast-color);
    width: auto;
  }

  .title-edit {
    justify-content: start;
    width: auto;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
}

@media (min-width: 1281px) {
}
