.intro-layout {
  width: var(--line-text-lg-width); /*  */
  padding: var(--line-text-lg-padding-top) var(--line-text-lg-padding-right)
    var(--line-text-lg-padding-bottom) var(--line-text-lg-padding-left);
  border-left: var(--line-text-border-left);
}

.intro-content {
  display: flex;
  flex-direction: column;
  gap: var(--line-text-sm-grid-gap);
}

.intro-last-paragraph {
  margin: 0;
}

@media (max-width: 540px) {
  .intro-layout {
    width: var(--line-text-sm-width); /*  */
    padding: var(--line-text-sm-padding-top) var(--line-text-sm-padding-right)
      var(--line-text-sm-padding-bottom) var(--line-text-sm-padding-left);
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  .intro-layout {
    width: var(--line-text-md-width); /*  */
  }
}
