.packages-info {
  padding-left: 1rem;
  padding-right: 1rem;
}

.packages-info img {
  width: 6rem;
}

.packages-info-row {
  margin: 0;
  text-align: center;
}

.packages-info-col,
.packages-info-col-middle {
  padding: var(--line-text-lg-padding-top) var(--line-text-lg-padding-left)
    var(--line-text-lg-padding-bottom) var(--line-text-lg-padding-left);
  gap: var(--line-text-md-grid-gap);
}

.packages-info-col-middle {
  border-left: var(--line-text-border-left);
  border-right: var(--line-text-border-right);
}

.packages-info-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--line-text-sm-grid-gap);
  text-align: left;
}

.packages-info-text {
  margin: 0;
}

@media (max-width: 540px) {
  .packages-info-col,
  .packages-info-col-middle {
    padding: var(--line-text-sm-padding-top) var(--line-text-sm-padding-left)
      var(--line-text-sm-padding-bottom) var(--line-text-sm-padding-left);
    border: none;
    gap: var(--line-text-sm-grid-gap);
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  .packages-info-col,
  .packages-info-col-middle {
    padding: var(--line-text-sm-padding-top) var(--line-text-sm-padding-left)
      var(--line-text-sm-padding-bottom) var(--line-text-sm-padding-left);
  }
}

@media (min-width: 1281px) {
}
