.package-info {
  padding: 4.5rem 1rem;
}

.package-info img {
  width: 6rem;
}

.package-info-row {
  margin: 0;
  padding: 0;
  text-align: center;
}

.package-info-col {
  display: flex;
  padding: 4rem 3.75rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.package-info-col-middle {
  display: flex;
  padding: 4rem 3.75rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-right: 2px solid rgba(89, 84, 84, 0.2);
  border-left: 2px solid rgba(89, 84, 84, 0.2);
}

.package-info-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.package-info-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;
  text-align: left;
}

.package-info-text {
  margin: 0;
}

.accordion {
  width: 100%;
  border-top: 0.1em solid var(--tertiary-color);
  border-bottom: 0.1em solid var(--tertiary-color);
}

.accordion-heading {
  margin: 0;
}

.accordion-body {
  padding: 1rem;
}

.accordion-item {
  border: none;
}

.accordion-button {
  font-family: var(--content-font-family);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--secondary-color);
  background-color: transparent;
  padding: 1.5rem 0.5rem;
}

.accordion-button:focus {
  box-shadow: none;
  border: none;
}

.accordion-button:not(.collapsed) {
  background-color: var(--primary-color);
}

.accordion-button:not(.collapsed) p {
  color: var(--contrast-color);
}

.accordion-button::after {
  width: 0.75rem;
  height: 0.75rem;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: none;
  padding-left: 0;
}

@media (max-width: 540px) {
  .package-info {
    padding: 1.75rem;
  }

  .package-info-col,
  .package-info-col-middle {
    border: none;
    width: 100%;
    max-width: none;
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .package-info-headings {
    gap: 0.5rem;
  }

  .package-info-text-wrapper {
    gap: 1.5rem;
  }

  .accordion-button {
    padding: 1rem 0.5rem;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  .package-info-col {
    padding: 5rem 2rem;
    gap: 2rem;
  }

  .package-info-col-middle {
    padding: 5rem 2rem;
    gap: 2rem;
  }

  .accordion-button {
    padding: 1rem 0.5rem;
  }
}

@media (min-width: 1281px) {
}
