.package-info {
  padding: 4.5rem 0rem;
}

.package-info img {
  width: 6rem;
}

.package-info-row {
  margin: 0;
  padding: 0;
  text-align: center;
}

.package-info-col {
  display: flex;
  padding: 5rem 3.75rem;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  flex: 1 0 0;
}

.package-info-col-middle {
  display: flex;
  padding: 5rem 3.75rem;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  flex: 1 0 0;
  border-right: 2px solid rgba(89, 84, 84, 0.2);
  border-left: 2px solid rgba(89, 84, 84, 0.2);
}

.package-info-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.package-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;
}

.accordion {
  width: 100%;
  border-top: 0.1em solid var(--tertiary-color);
  border-bottom: 0.1em solid var(--tertiary-color);
}

.accordion-item {
  border: none;
}

.accordion-button {
  font-family: var(--content-font-family);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--secondary-color);
}

@media (max-width: 480px) {
  .package-info-col-middle {
    border: none;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .package-info-col {
    padding: 5rem 2rem;
  }

  .package-info-col-middle {
    padding: 5rem 2rem;
  }
}

@media (min-width: 1281px) {
}
