.portfolio-info {
  gap: var(--grid-gap-lg);
}

.portfolio-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: var(--border-text-width-lg);
  padding: var(--line-text-lg-padding-top) var(--line-text-lg-padding-left)
    var(--line-text-lg-padding-bottom) var(--line-text-lg-padding-left);
  border-right: 2px solid rgba(89, 84, 84, 0.2);
  border-left: 2px solid rgba(89, 84, 84, 0.2);
}

.portfolio-info-row {
  padding: 0;
  text-align: center;
  margin: 0 -2rem; /* Negative margin to offset padding */
}

.portfolio-info-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--grid-gap-sm);
  padding: var(--line-text-sm-padding-right) var(--line-text-sm-padding-left)
    var(--line-text-sm-padding-bottom) var(--line-text-sm-padding-left);
}

.portfolio-info img {
  width: 100%;
  object-fit: cover;
}

.portfolio-info p {
  margin: 0;
}

@media (max-width: 540px) {
  .portfolio-info {
    gap: 0;
  }

  .portfolio-info-row {
    margin: 0;
  }

  .portfolio-info-col,
  .portfolio-info-col-middle {
    padding: 3rem 0 0;
  }

  .portfolio-info-text {
    width: var(--border-text-width-sm);
    padding: var(--line-text-sm-padding-top) var(--line-text-sm-padding-left)
      var(--line-text-sm-padding-bottom) var(--line-text-sm-padding-left);
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  .portfolio-info-text {
    width: var(--border-text-width-md);
  }
}
