.portfolio-info {
  gap: var(--line-text-lg-grid-gap);
}

.portfolio-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: var(--line-text-lg-width);
  padding: var(--line-text-lg-padding-top) var(--line-text-lg-padding-left)
    var(--line-text-lg-padding-bottom) var(--line-text-lg-padding-left);
  border-right: 2px solid rgba(89, 84, 84, 0.2);
  border-left: 2px solid rgba(89, 84, 84, 0.2);
}

.portfolio-info-row {
  padding: 0;
  text-align: center;
  margin: 0 -2rem; /* Negative margin to offset padding */
}

.portfolio-info-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0 2rem; /* Padding to be applied inside each column */
}

.portfolio-info img {
  width: 100%;
  object-fit: cover;
}

.portfolio-info p {
  margin: 0;
}

@media (max-width: 540px) {
  .portfolio-info-row {
    margin: 0;
  }

  .portfolio-info-text {
    width: var(--line-text-sm-width);
    padding: var(--line-text-sm-padding-top) var(--line-text-sm-padding-left)
      var(--line-text-sm-padding-bottom) var(--line-text-sm-padding-left);
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  .portfolio-info-text {
    width: var(--line-text-md-width);
  }
}
