/*    */

@font-face {
  font-family: "NewYork"; /*Can be any text*/
  src: local("NewYork"), url("./fonts/NewYork.otf") format("opentype");
}

:root {
  --primary-color: #636852;
  --secondary-color: #595454;
  --tertiary-color: rgba(89, 84, 84, 0.2);
  --contrast-color: #ffffff;

  --heading-font-family: "NewYork";
  --subheading-font-family: "Alegreya Sans SC", sans-serif;
  --content-font-family: "Montserrat", sans-serif;
  --light-font-weight: 100;
  --medium-font-weight: 300;

  --scroll-behavior: smooth;

  --nav-padding: 1.5rem 2rem;

  --line-text-lg-width: 75%;
  --line-text-md-width: 85%;
  --line-text-lg-width: 100%;

  --line-text-lg-padding-top: 3.75rem;
  --line-text-lg-padding-bottom: 3.75rem;
  --line-text-lg-padding-right: 0rem;
  --line-text-lg-padding-left: 4.25rem;
  --line-text-sm-padding-top: 2rem;
  --line-text-sm-padding-bottom: 2rem;
  --line-text-sm-padding-right: 0rem;
  --line-text-sm-padding-left: 2rem;
  --line-text-border-left: 2px solid var(--tertiary-color);
  --line-text-border-right: 2px solid var(--tertiary-color);
  --line-text-lg-grid-gap: 5rem;
  --line-text-md-grid-gap: 3rem;
  --line-text-sm-grid-gap: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 7rem;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-fluid {
  padding: 0;
}

/*Fonts*/

h1,
h2 {
  font-family: var(--heading-font-family);
  margin-bottom: 0;
}

h3,
h4 {
  font-family: var(--subheading-font-family);
  margin-bottom: 0;
}

p {
  font-family: var(--content-font-family);
}

a {
  font-family: var(--subheading-font-family);
}

/*Text*/

h1 {
  color: var(--contrast-color);
  text-align: center;
  font-size: 6.5rem;
  font-style: normal;
  font-weight: var(--medium-font-weight);
  line-height: 0.85em;
}

h2 {
  color: var(--contrast-color);
  line-height: 0.75em;
}

h3 {
  font-size: 1.7rem;
  color: var(--primary-color);
  letter-spacing: 0.13125rem;
  text-transform: lowercase;
}

h4 {
  font-size: 1.25rem;
  font-weight: var(--medium-font-weight);
  color: var(--secondary-color);
  letter-spacing: 0.075rem;
}

p {
  font-size: 0.85rem;
  font-weight: var(--medium-font-weight);
  color: var(--secondary-color);

  align-self: stretch;
  opacity: 0.9;
  line-height: 1.5rem; /* 166.667% */
}

header .contact-btn {
  display: none;
}

.contact-btn {
  font-family: var(--content-font-family);
  font-size: 0.75rem;
  font-weight: var(--light-font-weight);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 1.5px solid #fff;
  background-color: var(--primary-color);
  color: var(--contrast-color);
}

.contact-btn:hover {
  font-weight: var(--medium-font-weight);
  color: var(--primary-color);
  background-color: var(--contrast-color);
  border: none;
}

.contact-btn:first-child:active {
  font-weight: var(--medium-font-weight);
  color: var(--primary-color);
  background-color: var(--contrast-color);
  border: none;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--contrast-color);
  background-color: var(--primary-color);
  border-color: none;
}

@media (max-width: 540px) {
  section {
    padding: 3rem 4rem;
  }

  h1 {
    font-size: 3.25rem;
  }

  p {
    font-size: 0.75rem;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  section {
    padding: 5rem;
  }
}

@media (min-width: 1281px) {
}
