/*    */

@font-face {
  font-family: "NewYork"; /*Can be any text*/
  src: local("NewYork"), url("./fonts/NewYork.otf") format("opentype");
}

.container-fluid {
  padding: 0;
}

.nav-link,
.navbar-brand {
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

h1 {
  font-family: "NewYork";
  color: #fff;

  text-align: center;
  font-size: 8.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.875rem; /* 84.615% */
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  color: #636852;
  align-self: stretch;
  letter-spacing: 0.13125rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  color: #595454;
  align-self: stretch;
  opacity: 0.9;
  line-height: 1.5rem; /* 166.667% */
}

@media (max-width: 480px) {
  h1 {
    font-size: 3.125rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1281px) {
}
