/*    */

@font-face {
  font-family: "NewYork"; /*Can be any text*/
  src: local("NewYork"), url("./fonts/NewYork.otf") format("opentype");
}

:root {
  --primary-color: #636852;
  --secondary-color: #595454;
  --tertiary-color: rgba(89, 84, 84, 0.2);
  --contrast-color: #ffffff;

  --heading-font-family: "NewYork";
  --subheading-font-family: "Alegreya Sans SC", sans-serif;
  --content-font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 0;
}

/*Fonts*/

h1,
h2 {
  font-family: var(--heading-font-family);
  margin-bottom: 0;
}

h3,
h4 {
  font-family: var(--subheading-font-family);
  margin-bottom: 0;
}

p {
  font-family: var(--content-font-family);
}

a {
  font-family: var(--subheading-font-family);
}

/*Text*/

h1 {
  color: var(--contrast-color);
  text-align: center;
  font-size: 8.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.85em;
}

h2 {
  color: var(--contrast-color);
  line-height: 0.75em;
}

h3 {
  font-size: 1.7rem;
  color: var(--primary-color);
  align-self: stretch;
  letter-spacing: 0.13125rem;
  text-transform: lowercase;
}

h4 {
  font-size: 1.25rem;
  color: var(--secondary-color);
  letter-spacing: 0.075rem;
}

p {
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--secondary-color);

  align-self: stretch;
  opacity: 0.9;
  line-height: 1.5rem; /* 166.667% */
}

header .contact-btn {
  display: none;
}

.contact-btn {
  font-family: var(--content-font-family);
  font-size: 0.75rem;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 1.5px solid #fff;
  background-color: var(--primary-color);
  color: var(--contrast-color);
}

.contact-btn:hover {
  font-weight: normal;
  color: var(--primary-color);
  background-color: var(--contrast-color);
  border: none;
}

.contact-btn:first-child:active {
  font-weight: normal;
  color: var(--primary-color);
  background-color: var(--contrast-color);
  border: none;
}

@media (max-width: 540px) {
  h1 {
    font-size: 3.25rem;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1281px) {
}
